<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.proyecto_clase">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- permite vibrar el movil -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.proyecto.proyecto_clase.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dietas"
            android:parentActivityName=".Listadietas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Alimentos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Listadietas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Listarutinas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recetas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoReceta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainEjercicios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MEjercicios"
            android:label="@string/title_activity_mejercicios"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainComunEjer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainRunning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainSprint"
            android:label="Ejercicios de velocidad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainEv1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainEv2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainEv3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainCalentamiento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainRun"
            android:label="@string/titulo_main_running"
            android:screenOrientation="portrait" />
        <activity android:name=".MainDatos"></activity>
        <activity
            android:name=".TablaDietas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TablaRutinas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrearUsuarioActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>